<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <table>
      <tbody>
        <% if(data.groups) {%>
          <% data.groups.forEach(group => {%>
            <tr>
              <td><a href="/admin/dashboard/group/<%=group.id%>"><%= group.group_name%></a></td>
              <td><%= group.succ_callback%></td>
              <td><%= group.fail_callback%></td>
              <td>
                <button type="submit" onclick="deleteRequest('/admin/dashboard/group/<%=group.id%>');">Delete</button>
              </td>
            </tr>
          <%})%>
        <%}%>
      </tbody>
    </table>
  </div>
</div>