<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <table>
      <tbody>
        <% if(data.mappers) {%>
          <% data.mappers.forEach(mapper => {%>
            <tr>
              <td><a href="/admin/dashboard/mapper/<%=mapper.id%>"><%=mapper.id%></a></td>
              <td><%= mapper.saml_attribute%></td>
              <td><%= mapper.user_attribute%></td>
              <td>
                <button type="submit" onclick="deleteRequest('/admin/dashboard/group/<%= data.group.id%>/mapper/<%=mapper.id%>')">Delete</button>
              </td>
            </tr>
          <%})%>
        <%}%>
      </tbody>
    </table>
  </div>
</div>