<div class="card ui-app__page-content">
  <div class="card-content">
    <div class="card-title headline">All Mappers </div>
    <div class="card-body">
      <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
          <table>
            <thead>
              <th>Mapper id</th>
              <th>SAML Attribute</th>
              <th>User Attribute</th>
              <th>Action</th>
            </thead>
            <tbody>
              <% if(data.mappers) {%>
                <% data.mappers.forEach(mapper => {%>
                  <tr>
                    <td><%=mapper.id%></td>
                    <td><%= mapper.saml_attribute%></td>
                    <td><%= mapper.user_attribute%></td>
                    <td>
                      <button type="submit" class="validate waves-effect waves-light btn " onclick="deleteRequest('/admin/dashboard/group/<%= data.group.id%>/mapper/<%=mapper.id%>')">Delete</button>
                    </td>
                  </tr>
                <%})%>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>