<!-- <ul class="collection">
  <li class="collection-item"><a href="/admin/dashboard/groups"><i class="material-icons">filter_drama</i>&nbsp;&nbsp;&nbsp;Groups</a>
  </li>
  <li class="collection-item"><a href="/admin/dashboard/identity-providers"><i class="material-icons">whatshot</i>&nbsp;&nbsp;&nbsp; Identity Providers</a></li>
  <li class="collection-item"><i class="material-icons">whatshot</i>&nbsp;&nbsp;&nbsp; Alvin</li>
</ul> -->
<div class="user-box">
  <div class="user-view">
    <div>
      <img class="circle center-align" width="80px" src="https://www.sammobile.com/wp-content/uploads/2019/03/keyguard_default_wallpaper_silver-405x405.png">
    </div>
    <div>
      <span class="center-align white-text">This should be center aligned</span>
    </div>
    <div>
      <span class="center-align white-text">This should be center aligned</span>
    </div>
  </div>
</div>

<ul class="collapsible collapsible-accordion no-padding">
  <li class="bold"><a class="collapsible-header waves-effect waves-teal " tabindex="0">Gorups</a>
    <div class="collapsible-body white no-padding">
      <ul class="collection ">
        <li class="collection-item"><a href="/admin/dashboard/group">New</a></li>
        <li class="collection-item"><a href="/admin/dashboard/groups">All</a></li>
      </ul>
    </div>
  </li>
  <% if(data.group){%>
  <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Identity Provider</a>
    <div class="collapsible-body white no-padding">
      <ul class="collection" >
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/identity-provider">New</a></li>
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/identity-provider/<%= data.group['idp_data.id']%>">All</a></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Mappers</a>
    <div class="collapsible-body white no-padding">
      <ul class="collection" >
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/mapper">New</a></li>
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/mappers">All</a></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Users</a>
    <div class="collapsible-body white no-padding">
      <ul class="collection" >
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/users">All</a></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Sessions</a>
    <div class="collapsible-body white no-padding">
      <ul class="collection" >
        <li class="collection-item"><a href="/admin/dashboard/group/<%= data.group.id%>/sessions">All</a></li>
      </ul>
    </div>
  </li>
  <%}%>
</ul>