<aside class="ui-app__left-sidenav sidenav sidenav-fixed" id="ui-app__left-sidenav-slide-out" style="transform: translateX(0px);">
  <ul class="no-margin">
    <li>
      <a href="/admin/dashboard/groups" class="waves-effect waves-light btn btn-rounded btn-dashboard"><i class="material-icons left">dashboard</i>Dashboard</a>
    </li>
    <li>
      <ul class="ui-app__left-sidenav__menu collapsible collapsible-accordion ui-app__scrollbar">
        <li class="">
          <a class="collapsible-header waves-effect waves-default" tabindex="0"><i class="material-icons left">build</i>Group<i class="material-icons right">arrow_drop_down</i></a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="/admin/dashboard/group" class="waves-effect waves-default">New Group</a></li>
              <li><a href="/admin/dashboard/groups" class="waves-effect waves-default">All Groups</a></li>  
            </ul>
          </div>
        </li>
        <% if(data.group){%>
        <li>
          <a class="collapsible-header" tabindex="0"><i class="material-icons left">insert_chart</i>Identity Provider<i class="material-icons right">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="/admin/dashboard/group/<%= data.group.id%>/identity-provider" class="waves-effect waves-default">New Identity Provider</a></li>
              <li><a href="/admin/dashboard/group/<%= data.group.id%>/identity-provider/<%= data.group['idp_data.id']%>" class="waves-effect waves-default">All Identity Providers</a></li>
            </ul>
          </div>
        </li>
        <li class="">
          <a class="collapsible-header" tabindex="0"><i class="material-icons left">message</i>Mappers<i class="material-icons right">arrow_drop_down</i></a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="/admin/dashboard/group/<%= data.group.id%>/mapper" class="waves-effect waves-default">New Mappers</a></li>
              <li><a href="/admin/dashboard/group/<%= data.group.id%>/mappers" class="waves-effect waves-default">All Mappers</a></li>
            </ul>
          </div>
        </li>
        <li class="no-menu-list">
          <a href="/admin/dashboard/group/<%= data.group.id%>/users" class="collapsible-header" tabindex="0"><i class="material-icons left">grid_on</i>All Users</a>
          <div class="collapsible-body">
          </div>
        </li>
        <li class="no-menu-list">
          <a href="/admin/dashboard/group/<%= data.group.id%>/sessions" class="collapsible-header" tabindex="0"><i class="material-icons left">format_color_fill</i>All Sessions</a>
          <div class="collapsible-body">
          </div>
        </li>
      </ul>
    </li>
    <%}%>
    <% if(data.currentUser){%>
      <hr>
    <%}%>
    <li class="ui-app__left-sidenav__collapsible-quick-menu-name">
    </li>
    <li>
      <ul class="ui-app__left-sidenav__collapsible-quick-menu ui-app__scrollbar">
        <li class="" style="font-size: 12px; line-height: 1.5;"><b>Email</b> : <%= data.currentUser.email%><br> <b>Access Key</b> : <%= data.currentUser.user_token%><br></li>
        <hr>
        <li><a href="mailto: nk0kumawat@gmail.com"><i class="material-icons">email</i>Email Support</a></li>
        <li><a href="https://github.com/nkkumawat/Saml-SSO/tree/master/docs"><i class="material-icons">code</i>API Documentation</a></li>
      </ul>
    </li>
  </ul>
</aside>
